@import "variables";

.style-h3 {
  font-weight: 600;
  color: #A9C3B5;
  font-style: italic;
  font-size: 18px;
  text-transform: uppercase;
}

.recipe-info-overview {
  margin-top: 10%;
  .container {
    padding: 5% 0;
    border-top: 1px solid rgba($text-color, 0.2);
    border-bottom: 1px solid rgba($text-color, 0.2);
    margin-bottom: 10%;
  }

  .recipe-info-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .icon {
      margin-bottom: 7%;
    }

    .description {
      margin-bottom: 0;
    }

    @media screen and (max-width: 500px) {
      margin-bottom: 10%;

      .icon {
        margin-bottom: 3%;
      }
    }
  }
}

.recipe-entry {
  margin-bottom: 7%;

  .row {
    justify-content: space-between;
  }

  h2 {
    margin-bottom: 5%;
  }
}

.recipe-images {
  margin-bottom: 10%;
  display: none;

  img {
    width: 100%;
    object-fit: cover;
  }


  @media(min-width: $lg) {
    display: block;

    img {
      height: 380px;
    }


    .recipe-image-left-wrapper {
      display: flex;
      justify-content: flex-end;

    }

    .recipe-image-left {
      width: 520px;
      margin-right: -4%;
      margin-left: -45%;
    }

    .recipe-image-right-wrapper {
      display: flex;
      justify-content: flex-end;


    }

    .recipe-image-right {
      width: 520px;
      margin-left: -4%;
    }



    .recipe-image-middle {
      width: 100%;
    }


  }
}

.more-recipes {
  margin-bottom: 10%;

  h2 {
    margin-bottom: 3%;
  }

  .recipe-preview-wrapper {
    position: relative;
    height: 100%;
    margin-bottom: 20px;

    &:hover {
      .image-text {
        bottom: 14%;

        .read-more {
          opacity: 100%;
        }
      }
    }

    .image-text {
      position: absolute;
      bottom: -1%;
      left: 5%;
      z-index: 1000;
      max-width: 250px;
      transition: 300ms ease-in-out;

      .read-more {
        opacity: 0;
        transition: 300ms ease-in-out;
      }

      * {
        color: $text-color;
      }
    }
  }

  img {
    max-width: -webkit-fill-available;
    height: auto;
  }

  @media(min-width: $lg){
    img {
      width: 355px;
      height: 262px;
      object-fit: cover;
    }
  }



  .image-wrapper {
    position: relative;
    max-width: 700px;
    margin-right: 20px;

    &:after {
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(2, 0, 36, 0) 0%, rgba(0, 0, 0, 0.7011846975118172) 100%);
      z-index: 100;
    }
  }
}