@import "variables";

a {
    text-decoration: none!important;

    &:hover {
      text-decoration: none!important;
    }
  }

/*---------------------------------------*/
/*startpage about*/

.startpage-about {
  margin-bottom: 10%;
  margin-top: 15%;

  .startpage-about-text {
    margin-right: 15%;
    margin-bottom: 30px;

    h2 {
      margin-bottom: 5%;
    }
  }

  .startpage-about-images {
    position: relative;

    .friends {
      width: 100%;
      margin-bottom: 10%;

      @media (min-width: $lg) {
        width: 430px;
        height: 330px;
      }
      @media screen and (min-width: $xl) {
        margin-left: 15%;
      }
    }

    .pink-dots {
      position: absolute;
      left: -10%;
      z-index: -1;
      width: 300px;
      top: -15%;

      @media screen and (min-width: $sm) {
        top: -25%;
      }

      @media screen and (min-width: $lg) {
        width: 414px;
        top: -30%;
      }
    }
  }
}

/*---------------------------------------*/
/*startpage about*/

.startpage-recipe-overview {
  .row {
    justify-content: space-between;
    margin-bottom: 13%;
  }

  .text-wrapper {
    display: flex;
    position: relative;

    .symbol {
      position: absolute;
      top: 10%;
      background: $secondary-color;
      width: 33px;
      height: 3px;

      &.second {
        transition: 300ms ease-in-out;
      }
    }

    .date {
      color: $secondary-color;
      margin-bottom: 3%;
    }

    h3 {
      color: $text-color;
      margin-top: 0;
      margin-bottom: 5%;

      @media (min-width: $lg) {
        margin-bottom: 0;
      }
    }
  }

  .recipe-entry {

    img {
      margin-bottom: 7%;
      position: relative;

      &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $primary-color;

      }
    }

    &.left {
      .text {
        margin-left: 15%;
      }
      @media (min-width: $xl) {
        .text {
          margin-left: 0;
        }
        .symbol {
          left: -10%;
        }
      }

      @media (min-width: $xl) {
        .symbol {
          left: -25%;
        }
      }
    }

    &.right {
      @media (min-width: $xl) {
        margin-left: 40%;

        .text-wrapper {
          margin-left: 40%;
        }
      }

      @media (min-width: $xl) {
        margin-left: 0;

        .text-wrapper {
          margin-left: 0;
        }
      }

      .text {
        margin-left: 15%;

        @media (min-width: $lg) {
          margin-left: 25%;
        }
      }
    }

    &:hover {
      .second {
        transform: rotate(90deg);
      }
    }

    .small-img {
        width: 100%;

      @media (min-width: $xl) {
        width: 550px;
        height: 350px;

        &.left {
          margin-left: -25%;
        }
      }
    }

    .big-img {
      width: 100%;

      @media (min-width: $xl) {
        width: 850px;
        height: 500px;

        &.left {
          margin-left: -70%;

          @media(min-width: $lg){
            margin-left: -93%;

          }
        }
      }
    }
  }
}