@import "variables";

/*für allgemeine Styles (Überschriften, Buttons, ...)*/
html {
  width: 100vw;
  overflow-x: hidden;
}

.body {
  background: $bg-color !important;
  color: $text-color !important;
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400 !important;
  overflow-x: hidden;
}

h1, .style-h1 {
  font-weight: 800;
  color: #A9C3B5;
  font-style: italic;
  font-size: 36px;
  text-transform: uppercase;
}

h2, .style-h2 {
  font-weight: 600;
  color: #A9C3B5;
  font-style: italic;
  font-size: 24px;
  text-transform: uppercase;
}

h3, .style-h3 {
  font-weight: 600;
  color: #A9C3B5;
  font-style: italic;
  font-size: 18px;
  text-transform: uppercase;
}

.button {
  background: rgba($secondary-color, 10%);
  border-radius: 25px;
  padding: 10px 25px;
  color: $secondary-color;
  transition: 300ms ease-in-out;

  &:hover {
    background: rgba($secondary-color, 50%);
    color: $text-color;
    text-decoration: none;
  }

  &.button-without-bg {
    background: none;
    border: none;
    padding: 5px;
      display: inline-block;
      outline: none;
      color: $text-color;
      text-transform: uppercase;
      font-size: 18px;
      text-decoration: none;
      transition: 300ms ease-in-out;
      position: relative;

      &:hover, &.active {
        color: $text-color;
        text-decoration: none;

        &:after {
          width: 100%;
        }
      }

      &:after {
        position: absolute;
        content: "";
        bottom: -0px;
        left: 0;
        right: 0;
        background: $primary-color;
        height: 2px;
        width: 0;
        transition: 300ms ease-in-out;
      }

    }
}

.text {
  margin-bottom: 5%;
  font-weight: 400;
  font-size: 16px;
}


.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.margin-bottom-md {
  margin-bottom: 0;
  @media (min-width: $md) {
    margin-bottom: 2rem;
  }
}

.logo {
  transition: 300ms ease-in-out;
  width: 35px;
  margin: 1% 0;

  @media (min-width: $md) {
    width: 50px;
  }

  &:hover {
    transform: scale(0.9);
  }
}
