@charset "UTF-8";
/*für allgemeine Styles (Überschriften, Buttons, ...)*/
html {
  width: 100vw;
  overflow-x: hidden;
}

.body {
  background: #141414 !important;
  color: #F8F8F8 !important;
  font-family: "Montserrat", sans-serif !important;
  font-weight: 400 !important;
  overflow-x: hidden;
}

h1, .style-h1 {
  font-weight: 800;
  color: #A9C3B5;
  font-style: italic;
  font-size: 36px;
  text-transform: uppercase;
}

h2, .style-h2 {
  font-weight: 600;
  color: #A9C3B5;
  font-style: italic;
  font-size: 24px;
  text-transform: uppercase;
}

h3, .style-h3 {
  font-weight: 600;
  color: #A9C3B5;
  font-style: italic;
  font-size: 18px;
  text-transform: uppercase;
}

.button {
  background: rgba(169, 195, 181, 0.1);
  border-radius: 25px;
  padding: 10px 25px;
  color: #A9C3B5;
  transition: 300ms ease-in-out;
}
.button:hover {
  background: rgba(169, 195, 181, 0.5);
  color: #F8F8F8;
  text-decoration: none;
}
.button.button-without-bg {
  background: none;
  border: none;
  padding: 5px;
  display: inline-block;
  outline: none;
  color: #F8F8F8;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  transition: 300ms ease-in-out;
  position: relative;
}
.button.button-without-bg:hover, .button.button-without-bg.active {
  color: #F8F8F8;
  text-decoration: none;
}
.button.button-without-bg:hover:after, .button.button-without-bg.active:after {
  width: 100%;
}
.button.button-without-bg:after {
  position: absolute;
  content: "";
  bottom: 0px;
  left: 0;
  right: 0;
  background: #F36767;
  height: 2px;
  width: 0;
  transition: 300ms ease-in-out;
}

.text {
  margin-bottom: 5%;
  font-weight: 400;
  font-size: 16px;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.margin-bottom-md {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .margin-bottom-md {
    margin-bottom: 2rem;
  }
}

.logo {
  transition: 300ms ease-in-out;
  width: 35px;
  margin: 1% 0;
}
@media (min-width: 768px) {
  .logo {
    width: 50px;
  }
}
.logo:hover {
  transform: scale(0.9);
}

/*# sourceMappingURL=styles.css.map */
