$black: #000000;
$primary-color: #F36767;
$secondary-color: #A9C3B5;
$bg-color: #141414;
$bg-color-light: #1F1F1F;
$text-color: #F8F8F8;

$font-weight-bold: 700;
$font-weight-medium: 500;
$font-weight-regular: 400;
$font-weight-thin: 300;

$border-radius: 25px;


//Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;